<mat-card class="cardWithShadow rounded-card">
  <mat-card-content>

    <!-- Encabezado -->
    <div class="header">
      <div>
        <mat-card-title>Airport Services</mat-card-title>
        <mat-card-subtitle>List:</mat-card-subtitle>
      </div>
      <!-- (click)="goToServiceForm()" -->
      <button mat-flat-button color="primary">New Service</button>
    </div>

    <hr />

    <!-- Tabla -->
    <div class="table-responsive">
      <table class="service-table">
        <thead>
          <tr>
            <th hidden>ID</th>
            <th>Name</th>
            <th>Type</th>
            <th>Description</th>
            <th>Location</th>
            <th>Status</th>
            <th class="actions-header">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let service of serviceList">
            <td hidden>{{ service.id }}</td>
            <td>{{ service.name }}</td>
            <td>{{ service.type }}</td>
            <td>{{ service.description }}</td>
            <td>{{ service.location }}</td>
            <td>
              <span class="badge" 
                    [class.badge-active]="service.isActive"
                    [class.badge-inactive]="!service.isActive">
                {{ service.isActive ? 'Active' : 'Inactive' }}
              </span>
            </td>
            <td class="actions-cell">
              <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="goToServiceForm(service.id)">
                  <mat-icon>edit</mat-icon>
                  <span>Edit</span>
                </button>
                <button mat-menu-item (click)="changeServiceStatus(service.id!, service.isActive!)">
                  <mat-icon>autorenew</mat-icon>
                  <span>{{ service.isActive ? 'Deactivate' : 'Activate' }}</span>
                </button>
                <button mat-menu-item (click)="deleteService(service.id)">
                  <mat-icon>delete</mat-icon>
                  <span>Delete</span>
                </button>
              </mat-menu>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </mat-card-content>
</mat-card>
