<mat-card class="cardWithShadow rounded-card">
  <mat-card-content>

    <div class="header">
      <div>
        <mat-card-title>Flights</mat-card-title>
        <mat-card-subtitle>List</mat-card-subtitle>
      </div>
      <button mat-flat-button (click)="goToCreateFlightForm()" color="primary">
        Register new flight
      </button>
    </div>

    <hr />

    <div class="table-responsive">
      <table class="user-table">
        <thead>
          <tr>
            <th hidden>ID</th>
            <th>Flight Number</th>
            <th>Airline</th>
            <th>Departure Airport</th>
            <th>Arrival Airport</th>
            <th>Departure Time</th>
            <th>Arrival Time</th>
            <th>Route</th>
            <th>Status</th>
            <th class="actions-header">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let flight of flightList">
            <td hidden>{{ flight.id }}</td>
            <td>{{ flight.flightNumber }}</td>
            <td>{{ flight.airline }}</td>
            <td>{{ flight.departureAirport }}</td>
            <td>{{ flight.arrivalAirport }}</td>
            <td>{{ flight.departureTime }}</td>
            <td>{{ flight.arrivalTime }}</td>
            <td>{{ flight.route }}</td>
            <td>{{ flight.status }}</td>
            <td class="actions-cell">
              <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="goToFlightForm(flight.id)">
                  <mat-icon>edit</mat-icon>
                  <span>Edit</span>
                </button>

                <button mat-menu-item [matMenuTriggerFor]="statusMenu">
                  <mat-icon>autorenew</mat-icon>
                  <span>Change Status</span>
                </button>

                <mat-menu #statusMenu="matMenu">
                  <button mat-menu-item *ngFor="let status of statusOptions"
                          (click)="changeFlightStatus(flight, status)">
                    {{ status }}
                  </button>
                </mat-menu>

                <button *ngIf="flight.id" mat-menu-item (click)="deleteFlight(flight.id)">
                  <mat-icon>delete</mat-icon>
                  <span>Delete</span>
                </button>
              </mat-menu>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </mat-card-content>
</mat-card>
