<mat-card class="cardWithShadow rounded-card">
  <mat-card-content>

    <!-- Header -->
    <div class="header">
      <div>
        <mat-card-title>Baggage</mat-card-title>
        <mat-card-subtitle>List</mat-card-subtitle>
      </div>
      <button mat-flat-button (click)="goToCreateBaggageForm()" color="primary">
        Register new baggage
      </button>
    </div>

    <hr />

    <!-- Table -->
    <div class="table-responsive">
      <table class="user-table">
        <thead>
          <tr>
            <th hidden>ID</th>
            <th>Passenger</th>
            <th>Tag Number</th>
            <th>Weight (kg)</th>
            <th>Status</th>
            <th>Incidents</th>
            <th class="actions-header">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let baggage of baggageList">
            <td hidden>{{ baggage.id }}</td>
            <td>{{ baggage.passengerFk }}</td>
            <td>{{ baggage.tagNumber }}</td>
            <td>{{ baggage.weight }}</td>
            <td>{{ baggage.status }}</td>
            <td>{{ baggage.incidentDetails }}</td>
            <td class="actions-cell">
              <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="goToBaggageForm(baggage.id)">
                  <mat-icon>edit</mat-icon>
                  <span>Edit</span>
                </button>

                <!-- Button that opens status submenu -->
                <button mat-menu-item [matMenuTriggerFor]="statusMenu">
                  <mat-icon>autorenew</mat-icon>
                  <span>Change status</span>
                </button>

                <!-- Status submenu -->
                <mat-menu #statusMenu="matMenu">
                  <button mat-menu-item *ngFor="let status of statusOptions"
                          (click)="changeBaggageStatus(baggage, status)">
                    {{ status }}
                  </button>
                </mat-menu>

                <!-- Button to edit incident details -->
                <button mat-menu-item (click)="goToBaggageIncidentDetailsForm(baggage.id!)">
                  <mat-icon>report_problem</mat-icon>
                  <span>Edit incident</span>
                </button>

                <button *ngIf="baggage.id" mat-menu-item (click)="deleteBaggage(baggage.id)">
                  <mat-icon>delete</mat-icon>
                  <span>Delete</span>
                </button>
              </mat-menu>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </mat-card-content>
</mat-card>
